.hotel-card {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 6%;
}

.hotel-image {
    min-height: 280px;
    /* small screen এও বড় দেখাবে */
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px;

}

.room-card {
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.btn-gradient {
    background: linear-gradient(45deg, #007bff, #00c6ff);
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    transition: opacity 0.2s;
}

.btn-gradient:hover {
    opacity: 0.9;
}